<span>
  <svg
    class="icon icon-cart"
    aria-hidden="true"
    focusable="false"
    width="16"
    height="16"
    viewBox="0 -10 28 38"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g clip-path="url(#clip0_1_1232)">
    <path d="M7.50397 14.25C7.50397 14.9404 6.94433 15.5 6.25397 15.5C5.56361 15.5 5.00397 14.9404 5.00397 14.25C5.00397 13.5596 5.56361 13 6.25397 13C6.94433 13 7.50397 13.5596 7.50397 14.25Z" fill="#4D5061"/>
    <path d="M14.004 14.25C14.004 14.9404 13.4443 15.5 12.754 15.5C12.0636 15.5 11.504 14.9404 11.504 14.25C11.504 13.5596 12.0636 13 12.754 13C13.4443 13 14.004 13.5596 14.004 14.25Z" fill="#4D5061"/>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1C0 0.585786 0.335786 0.25 0.75 0.25H2.12897C2.45179 0.25 2.7384 0.456573 2.84048 0.762829L3.16954 1.75H14.246C15.5023 1.75 16.3494 3.03459 15.8545 4.18936L13.9714 8.58328C13.538 9.59441 12.5438 10.25 11.4437 10.25H6.00287L6.25604 11.0095H13.004C13.4182 11.0095 13.754 11.3453 13.754 11.7595C13.754 12.1737 13.4182 12.5095 13.004 12.5095H5.71547C5.39265 12.5095 5.10605 12.3029 5.00396 11.9967L1.92299 2.75377C1.91908 2.74289 1.91541 2.73188 1.91199 2.72077L1.5884 1.75H0.75C0.335786 1.75 0 1.41421 0 1ZM3.66954 3.25L5.50287 8.75H11.4437C11.9437 8.75 12.3957 8.452 12.5926 7.9924L14.4758 3.59848C14.5465 3.43351 14.4254 3.25 14.246 3.25H3.66954Z" fill="#4D5061"/>
    </g>
    <defs>
    <clipPath id="clip0_1_1232">
    <rect width="16" height="16" fill="white"/>
    </clipPath>
    </defs>
  </svg>
</span>
