#slidecarthq {
    font-family: "Poppins" !important;

    .slidecarthq {
        font-family: "Poppins" !important;
    
        div,
        span,
        a,
        h1,
        h2,
        h3,
        input,
        strong,
        em,
        button {
            font-family: "Poppins" !important;
        }
    }
}
