// This isn't DEFAULT horizontal product card

@import '../mixins/media.scss';

.product-card-wrapper {
  width: 100%;
}

.card--horizontal-large {
  &.card:not(.ratio) {
    >.card__content {
      grid-template-rows: auto;
    }
  }

  .badge {
    border: 0;
    font-weight: var(--font-body-weight-bold);
    letter-spacing: 0;
    line-height: 1;
    padding: 0.5rem 1.6rem 0.6rem 1.6rem;
    vertical-align: middle;
  }

  .card__inner {
    .card__badge {
      display: block;
    }

    .card__content {
      padding: 0 !important;
    }
  }

  .card__content {
    flex-grow: 1;
    padding: 0;
  }

  .card__information {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    grid-row-start: auto;
    padding: 0.9rem 0 0;

    @include sm {
      justify-content: space-between;
    }
  }

  .card__heading {
    margin: 0 0 1.4rem;

    a {
      margin: 0 !important;
      min-height: 0;
    }
  }

  .card__badge {
    display: none;
  }

  .card__review {
    font-size: 1.4rem;

    .jdgm-widget * {
      line-height: 1;
    }

    .jdgm-preview-badge .jdgm-star {
      padding: 0 0.6rem 0 0 !important;
    }

    .jdgm-prev-badge__text {
      margin: 0 0 0 -0.2rem;
    }
  }

  .card__content--bottom {
    flex-grow: 0;
    padding: 2rem 0 1.3rem;

    .price:not(.price--show-badge) .price-item--last:last-of-type {
      margin: 0.5rem 0 0;
    }

    .quick-add {
      margin: 0 0 0.2rem;

      .quick-add__submit:disabled .button-text {

        &,
        path {
          fill: #727272;
        }
      }
    }
  }
}

.products-slider:not(.swiper) .card--horizontal-large {
  &.card:not(.ratio) {
    @include md {
      display: grid;
      grid-template-columns: 1fr 45%;
      grid-template-rows: repeat(2, auto);
      gap: 0 1rem;
      grid-template-areas:
        ". ."
        "card-bottom card-bottom";
      background: none;
    }
  }

  .badge {
    @include md {
      padding-top: 7px;
    }

    &.badge-best-seller {
      @include md {
        letter-spacing: 0.36px;
        padding: 0.9rem 1.3rem;
      }
    }
  }

  .card__inner {
    .card__media .media img {
      @include md {
        object-fit: contain;
      }
    }

    .card__content {
      @include md {
        display: none;
      }
    }
  }

  .card__content {
    @include md {
      order: -1;
    }
  }

  .card__information {
    justify-content: flex-start;

    @include md {
      padding: 0.1rem 0 0;
    }

    .card__heading {
      @include md {
        margin: 0 0 1rem;
      }
    }

    .card__badge {
      @include md {
        display: block;
      }
    }

    .card__review {

      @include md {
        margin: 0 0 1.5rem;
        order: -1;
      }
    }
  }

  .card__content--bottom {
    @include md {
      grid-area: card-bottom;
      padding-bottom: 0;
    }

    .price:not(.price--show-badge) .price-item--last:last-of-type {
      @include md {
        margin: 0.3rem 0 0;
      }
    }

    .quick-add {
      @include md {
        margin: 0;
      }
    }
  }
}

.products-slider:not(.swiper) .grid__item:first-child {
  .product-card-wrapper {
    @include sm {
      width: 100%;
    }

    @include md {
      padding: 3rem;
    }
  }

  .card--horizontal-large {
    @include md {
      display: flex;
      gap: 0;
    }

    @include sm-md {
      background: none;
      display: grid;
      grid-template-columns: auto 50%;
      grid-template-rows: repeat(2, auto);
      gap: 0 2rem;
    }

    .card__inner {
      @include sm-md {
        grid-row-start: span 2;
      }
    }

    .card__content {
      @include md {
        flex-grow: 0;
        margin: -7px 0 0;
      }
    }

    .card__information {
      justify-content: flex-start;

      .card__review {
        @include md {
          margin: 0 0 24px;
        }
      }
    }

    .card__content--bottom {
      @include md {
        display: block;
        flex-grow: 1;
        margin: 0;
      }
    }
  }
}