{{ 'announcement-bar.css' | asset_url | stylesheet_tag }}
<section class="announcement-bar">
<div class="container">
  <div class="announcement-bar__wrapper">
    <a href="#" class="announcement-bar__wrapper_blog">
      Blog
    </a>
    <a href="#" class="announcement-bar__wrapper_contact-us">
      Contact Us
    </a>
    <div class="announcement-bar__wrapper_free-shipping-inner">
      <div class="announcement-bar__wrapper_free-shipping-inner_img-car">
        {% render 'icon-car' %}
      </div>
      <div class="announcement-bar__wrapper_free-shipping-inner_text">
        Free Shipping on orders over $149
      </div>
      <div class="announcement-bar__wrapper_free-shipping-inner_img-i">
        {% render 'icon-info' %}
      </div>
    </div>
    <div class="announcement-bar__wrapper_tell-inner">
      <div class="announcement-bar__wrapper_tell-inner_img">
        {% render 'icon-tell' %}
      </div>
      <a  href="tel:+2143429290" class="announcement-bar__wrapper_tell-inner_tell">
        214-342-9290
      </a>
    </div>
    <div class="announcement-bar__wrapper_accaunt-innner">
      <div class="announcement-bar__wrapper_accaunt-innner_img">
        {% render 'icon-account-button' %}
      </div>
      <div class="announcement-bar__wrapper_accaunt-innner_text">
        My Account
      </div>

    </div>
  </div>
</div>
</section>
  
{% schema %}
{
  "name": "t:sections.announcement-bar.name",
  "max_blocks": 12,
  "class": "announcement-bar-section",
  
  "blocks": [
    {
      "type": "announcement",
      "name": "t:sections.announcement-bar.blocks.announcement.name",
      "settings": [
                {
      "type": "image_picker",
      "id": "icon_announcement_bar",
      "label": "Icon Announcement Bar"
    },
        {
          "type": "text",
          "id": "text",
          "default": "Welcome to our store",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.options__3.label"
            }
          ],
          "default": "center",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.text_alignment.label"
        },
        {
          "type": "select",
          "id": "color_scheme",
          "options": [
            {
              "value": "accent-1",
              "label": "t:sections.all.colors.accent_1.label"
            },
            {
              "value": "accent-2",
              "label": "t:sections.all.colors.accent_2.label"
            },
            {
              "value": "background-1",
              "label": "t:sections.all.colors.background_1.label"
            },
            {
              "value": "background-2",
              "label": "t:sections.all.colors.background_2.label"
            },
            {
              "value": "inverse",
              "label": "t:sections.all.colors.inverse.label"
            }
          ],
          "default": "accent-1",
          "label": "t:sections.all.colors.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.announcement-bar.blocks.announcement.settings.link.label"
        }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "announcement"
      }
    ]
  }
}
{% endschema %}
