{{ "innovative-makeup.css" | asset_url | stylesheet_tag }}
<section class="innovative-makeup">
  <div class="innovative-makeup-wrapper">
    <div class="innovative-makeup-title">Innovative Makeup</div>
    <div class="innovative-makeup-discription">FROM THE PROS IN HOLLYWOOD</div>
    <div class="innovative-makeup-text">Dermaflage products solve the most challenging beauty problems</div>
  </div>
</section>

{% schema %}
{
  "name": "innovative-makeup",
  "tag": "section",
  "settings": [
  
  ],
 
  "presets": [
    {
      "name": "Innovative Makeup"
    }
  ]
}
{% endschema %}
