{{ "Presentation-product.css" | asset_url | stylesheet_tag }}
<div class="Presentation-product__wrapper">
  <div class="Presentation-product__item">
    <img src="https://dermaflage.com/wp-content/uploads/2021/09/Topical-Fillers-scaled.webp" alt="" />
    <div class="Presentation-product__link-wraper">
      <div class="Presentation-product__border-container">
        <a href="" class="first-link">Scars & Wrinkles </a>
        <a href="" class="second-link">TOPICAL FILLER</a>
      </div>
    </div>
  </div>

  <div class="Presentation-product__item">
    <img src="https://dermaflage.com/wp-content/uploads/2021/09/Skincare-scaled.webp" alt="" />
    <div class="Presentation-product__link-wraper">
      <div class="Presentation-product__border-container">
        <a href="" class="first-link">Sensitive</a>
        <a href="" class="second-link">SKIN CARE</a>
      </div>
    </div>
  </div>

  <div class="Presentation-product__item">
    <img src="https://dermaflage.com/wp-content/uploads/2021/09/Concealers-and-Corrector-scaled.webp" alt="" />
    <div class="Presentation-product__link-wraper">
      <div class="Presentation-product__border-container">
        <a href="" class="first-link">Full Coverage</a>
        <a href="" class="second-link">CONCEALER</a>
      </div>
    </div>
  </div>

  <div class="Presentation-product__item">
    <img src="https://dermaflage.com/wp-content/uploads/2021/09/Makeup-scaled.webp" alt="" />
    <div class="Presentation-product__link-wraper">
      <div class="Presentation-product__border-container">
        <a href="" class="first-link">Innovative</a>
        <a href="" class="second-link">MAKEUP</a>
      </div>
    </div>
  </div>
</div>



{% schema %} { 
  "name": "Presentation-product", 
  "tag": "section", 
  "settings": 
  [
], 
"presets": 
[ 
{ 
  "name": "Presentation-product"
 } 
 ] 
}
 {% endschema %}
