@import "../mixins/media.scss";

#react-app-ext:empty {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a:not(.button) {
    font-weight: inherit;
  }
}


.h1,
h1,
.h2,
h2 {
  letter-spacing: 0;
}

.h1,
h1 {
  font-size: 2.4rem;
  line-height: 1.5;

  @include sm {
    font-size: 3rem;
  }
}

.h2,
h2 {
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 5rem 0 2rem;

  @include sm {
    font-size: 1.8rem;
  }
}

.h3,
h3 {
  font-size: 1.6rem;
  line-height: 1.5;

  @include sm {
    font-size: 1.6rem;
  }
}


a:not(.button) {
  color: rgb(var(--color-link));
  font-weight: var(--font-body-weight-bold);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}


img {
  height: auto;
  vertical-align: top;
}

strong {
  font-weight: var(--font-body-weight-bold);
}

.rte {
  img {
    margin: 0;
  }

  a {
    &:hover {
      &:has(> img) {
        text-decoration: none;
      }
    }

    &:has(> img) {
      text-decoration: underline;
    }

    img {
      margin: 0 1.3rem 0 0;
      vertical-align: middle;
    }
  }
}